html{
    margin: 0;
    padding: 0;
}

/* .gameboard{
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    border: blue solid 3px;
}

.container{
    display: grid;
    width: 100%;
    justify-content: center;
}
.gridSquare{
    border: solid 2px black;
    width: 100px;
    height: 100px;
} */

.row{
    display: inline-block;

}
.cell{
    width: 50px;
    height: 50px;
    border: solid 1px black;
}