 html{
    margin: 0;
    padding: 0;
}

.gameboard {
    background-color: rgb(160, 10, 10);
    width: 1100px;
    margin: 0 auto;
    border-radius: 5%;
    position: relative;
    padding-top: 40px;
    padding-bottom: 90px;
    border: black solid 1px;
    box-shadow: 5px 5px rgb(158, 153, 153);
    }
    
.screen{
    border: solid black 2px;
    width: 80%;
    height: 450px;
    margin: 0 auto;
    background-color: rgb(202, 198, 198);
 }

.cell{
    border: dashed 1px rgb(192, 191, 191);
    min-width: 1px;
    min-height: 1px;
    background-color: rgb(202, 198, 198);
    }

.buttons{
    position: relative;
    text-align: center;
    top: 530px;
}

.buttons input{
    border-radius: 10%;
    padding: 10px 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;  
    background-color: #ccc);
    }

 #start{
    padding-right: 40px;
}

#reset{
    margin-right: 75px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 54px;
    top: 15px;
    right: 40px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 45px;
    width: 45px;
    left: 6px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(43px);
    -ms-transform: translateX(43px);
    transform: translateX(43px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;